body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    background-color: #e6fff9;
    color: #4c9f95;
}

.header {
    font-family: "Bookman", "URW Bookman L", "serif";
    background-color: #4c9f95;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.kpis {
    padding: 10px;
    margin: 10px 0 10px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.box {
    border-color: #30bba9;
    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    background-color: #FFFFFF;
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    height: 100%;
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30bba9;
    color: #ffffff;
    margin: 0;
}

.bottom {
    height: 100%;
    width: 100%;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.chart {
    width: calc(50% - 5px);
    box-sizing: border-box;
    background-color: white;
}

.menu-title {
    margin-bottom: 5px;
    font-weight: bold;
    color: #079A82;
}

.menu {
    height: 90px;
    width: 912px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -45px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    border-radius: 5px;
}

.dropdown {
    height: 38px;
    width: 200px;
}

.table-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    
}